[2022-05-19 13:16] xavierchanth opened #12 "feat: atmospherePro codelab"
lead: TBD
- [ ] Discussion on what parts of the app we want to highlight in the codelab
- [ ] Write out each codelab step

[2022-05-19 13:16] xavierchanth opened #13 "feat: at_dude codelab"
lead: @CurtlyCritchlow
- [x] Discussion on what parts of the app we want to highlight in the codelab
- [ ] Write out each codelab step

[2022-05-19 13:19] xavierchanth opened #14 "devsite 3 css | Verify mobile support"
lead: @XavierChanth
- [ ] Review the dev site for mobile
- [ ] Make any changes to ensure it is accessible on mobile
- [ ] codelab layout

[2022-05-19 13:20] xavierchanth opened #15 "GOAL: atsign.dev 3.0"
CSS:

- #14
- #17

Shortcodes:

- #18

Content:

- #22
- #33
- #34
- #12
- #13
- #16 (Dev Eng Sprint)

[2022-05-19 13:23] xavierchanth opened #16 "feat: Review Flutter SDK documentation"
lead: @XavierChanth

- [ ] Review the present codelab
- [ ] Evaluate the content for gaps
  - [ ] ensure full at_commons coverage
  - [ ] Notify content
  - [ ] Best practices / tips & tricks (at_utils content)
  - [ ] Tyler & Xavier's "pizza mental model"
- [ ] Create missing content

[2022-05-19 13:26] xavierchanth opened #17 "devsite 3 css | Review typography"
lead: @XavierChanth

- [ ] Review current typography and find a suitable replacement (currently using system fonts)

[2022-05-19 13:30] xavierchanth opened #18 "devsite 3 shortcodes | Create and document supplementary shortcodes"
lead: @XavierChanth

- [x] Determine any necessary shortcodes or layouts to make content creation easier
- [x] Create the shortcodes
- [x] Document them under the contributing section

[2022-05-23 19:19] xavierchanth opened #22 "feat: Github Issues tracker + Feedback button"
lead: @XavierChanth
**Is your feature request related to a problem? Please describe.**

- [ ] A feedback button accessible on all pages to quickly open a github ticket against atsign.dev.
- [ ] Add Git/github information and links to the footer of the site.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**

[2022-05-26 17:43] #17 closed, assigned to xavierchanth

[2022-05-26 17:43] #18 closed, assigned to xavierchanth, TylerTrott

[2022-05-31 03:20] xavierchanth opened #31 "devsite 3 | Community & Showcase Page"
Port over the community & showcase pages from the old atsign.dev. Making sure that the accessibility is fixed.

- [x] Community layout
- [ ] Community content
- [x] Showcase layout
- [ ] Showcase content

[2022-06-01 02:19] #14 closed, assigned to xavierchanth

[2022-06-01 02:19] #31 closed, assigned to xavierchanth

[2022-06-01 02:39] xavierchanth opened #33 "devsite 3 | Reference section"
lead: @XavierChanth

Code:

- [ ] Taxonomy layouts
- [ ] Enable taxonomies in hugo config
- [ ] Taxonomy archetypes
- [ ] Filtering & Categories

Content:

- [x] PKAM & CRAM @JeremyTubongbanua
    #48
- [x] Encryption @Jesseadriano10 #46
- [x] Privacy @Jesseadriano10
- [x] Public & Private Key @Jesseadriano10 #46
- [x] Namespace @JeremyTubongbanua  #65
- [x] Polymorphism @L1AMcB #60
- [x] @sign @L

[2022-06-01 20:45] xavierchanth opened #34 "chore: Update logos and branding"
- [x] Use updated logo files
- [x] Update all existing content with the new branding terms
- [x] Verify that external resources move over to the new static assets
N.B. - This may need to be completed on the current version of atsign.dev first, until this repo is ready for production.

[2022-06-07 18:17] Jesseadriano10 commented on #33
Hey can we add Jeremy to this issue! https://github.com/JeremyTubongbanua

[2022-06-09 18:05] xavierchanth opened #42 "devsite 3 | Migrate dess guide images to be page type images"
**Is your feature request related to a problem? Please describe.**
Pages are currently downloaded and added at build time, when we release this site to prod they will no longer be available for download.

**Describe the solution you'd like**

- [x] Add these images using the image shortcode, and type="page" attribute.
- [x] "dess" should be all lowercase in the content.

**Describe alternatives yo

[2022-06-09 18:08] xavierchanth opened #43 "chore: Redesign getting started section"
lead: @XavierChanth

- [ ] Redesign developer journeys for newly acquired devs
- [ ] Content ordering for each journey
- [ ] Implementation

[2022-06-09 18:14] xavierchanth opened #44 "devsite 3 | blog posts page"
lead: TBD

**Is your feature request related to a problem? Please describe.**
There is no easy way to find blog posts from our dev site.

**Describe the solution you'd like**

- [ ] card/blogpost shortcode #72
  - Given a URL, fetch the title, splash image, description, date, and byline and display in a card
  - Needs to support hashnode, medium, and possibly linkedin
- [ ] Uses a port of the full

[2022-06-10 00:30] JeremyTubongbanua opened #47 "fix: Incorrectly generated Next & Prev buttons according to weight"
**Describe the bug**

The `weight:` of each `single` page is as follows
[code]
(See commit 399283b135e12111fd8c42060078602f48e1ef42 to view those weight changes)

The breadcrumb for @sign (weight 200) has a previous breadcrumb button that goes to "Setup dess on GCP (Google Cloud Platform)

**To Reproduce**
Open the @sign page on your machine

**Expected behavior**
Maybe either go to the root `_ind

[2022-06-10 01:30] JeremyTubongbanua commented on #47
FYI

Starting with `weight: 1` and going to `weight: 11`, introduced more bugs with breadcrumbs where `weight: 1` through `weight: 3` showed unpredictable behavior.

[2022-06-10 17:15] xavierchanth commented on #47
Interesting, I will investigate next week, for now you can ignore these, and just use weights as intended for order.

[2022-06-10 19:12] xavierchanth opened #49 "devsite 3 | Homepage"
lead: @XavierChanth

- [ ] New XD designs for home page
- [ ] Integrated into Hugo

[2022-06-10 19:13] xavierchanth opened #50 "devsite 3 | Landing pages"
- [ ] Landing pages for site SEO that target specific keywords

[2022-06-10 19:14] xavierchanth opened #51 "devsite 3 | Events section in Community page"
- [ ] Redesign community page to include an events section, make this section easy to update.

[2022-06-10 20:34] xavierchanth commented on #16
PR39: Begin organizing & reviewing content with the dev team in some working sessions.

[2022-06-13 20:43] JeremyTubongbanua commented on #44
Could I take this on @XavierChanth ?

[2022-06-14 15:10] TylerTrott opened #53 "Content in ShortCodes CodeLab is spaced too wide"
**Describe the bug**
When entering the code lab set up as a shortcode tutorial, the content is positioned to the far right of the screen.

**Screenshots**
<img width="1436" alt="Screen Shot 2022-06-14 at 8 08 03 AM" src="https://user-images.githubusercontent.com/66637408/173612416-93ed9921-9e37-486a-9ffa-84e9819b65f1.png">

[2022-06-14 15:24] xavierchanth commented on #44
Sure grab some time in the afternoon on my calendar this week

[2022-06-14 16:18] Jesseadriano10 commented on #51
## Some ideas for the Community page

** The Problem **
- As of right now the community page lacks visuals and needs an event section.

** The Solution **
- Add more Illustrations and implement an Events section on the Community page.

** Alternatives **
- As of right now I do like the way the cards look on the page. Taking Anthony's advice in consideration as to how it would be better if we added

[2022-06-14 18:39] xavierchanth commented on #34
atsign.dev completed in [#489](https://github.com/atsign-foundation/atsign.dev/pull/489)
Remaining changes are for atsign.dev-3.0.

[2022-06-14 18:52] #53 closed, assigned to xavierchanth, Jesseadriano10, JeremyTubongbanua, L1AMcB

[2022-06-15 14:01] realvarx opened #61 "devsite 3 | blurry images on dess tutorials"
**Describe the bug**
Images of dess tutorials are blurry.

**To Reproduce**

1. First I Go to [https://dev3.atsign.wtf/docs/tutorials/](https://dev3.atsign.wtf/docs/tutorials/)
2. Then I Navigate to [AWS](https://dev3.atsign.wtf/docs/tutorials/dess/aws/1_introduction/) or [GCP](https://dev3.atsign.wtf/docs/tutorials/dess/gcp/1_introduction/) tutorials
3. And then click on `Next` and navigate the w

[2022-06-15 16:50] xavierchanth commented on #61
#42 should resolve this issue

[2022-06-15 16:50] #61 closed, assigned to xavierchanth, Jesseadriano10, JeremyTubongbanua, L1AMcB

[2022-06-16 00:08] xavierchanth commented on #42
@Jesseadriano10 @L1AMcB @JeremyTubongbanua can one of you pick up this card?

[2022-06-16 00:13] JeremyTubongbanua commented on #42
I can

[2022-06-16 00:48] JeremyTubongbanua commented on #42
Working on it in #67

[2022-06-17 00:56] JeremyTubongbanua opened #68 "devsite 3 | Control table column width?"
**Is your feature request related to a problem? Please describe.**
Is there a way to control the column width when using tables in markdown? In the image below, the regex snippet goes to another line which I could look better if there was a way to control the column width?
![image](https://user-images.githubusercontent.com/79019866/174201241-e5b8d9f6-2a43-4f88-9c29-64c8b02fabea.png)

[2022-06-17 01:22] JeremyTubongbanua commented on #68
#64

[2022-06-17 12:42] #42 closed, assigned to xavierchanth, JeremyTubongbanua

[2022-06-20 18:43] JeremyTubongbanua commented on #42
All images are now downloaded locally
and no longer fetched online.

Resulting in faster image loading.

[2022-06-20 19:48] JeremyTubongbanua commented on #44
I'll be taking on card/blogpost for now, will figure out dynamic fetching later.

[2022-06-20 23:25] JeremyTubongbanua commented on #44
#72

[2022-06-27 14:16] JeremyTubongbanua commented on #33
The key to @ platform keys
https://docs.google.com/document/d/1JAXNrGr6J30m1xTWD4t7z2eQRo6O7icEOprJh1KKNas/edit

@ protocol
https://docs.google.com/document/d/14PZ-FHV9djBJL1RR8G8aYd6qxiWErBJEvRW9hD0pfNQ/edit

[2022-06-27 14:19] JeremyTubongbanua commented on #33
Still need to

- [ ] Be consistent with each definition (through archetype) #70
- [ ] Add Reference to contribute (so readers know rules for contributing) #70
- [ ] Proof read every definition
- [ ] Branding changes

[2022-06-27 17:02] Jesseadriano10 commented on #33
We will also need to apply the branding changes to this site

[2022-06-28 22:23] xavierchanth opened #76 "devsite 3 | Design iot.atsign.dev"
lead: @XavierChanth

- [ ] Generate list of demos/samples/examples
- [ ] Define the navigation flow and layout
- [ ] Define any other content to be included
- [ ] New IoT focused showcase page
- [ ] New IoT homepage designs @rtilney

[2022-06-30 19:01] Jesseadriano10 opened #77 "Content for the atmosphere pro codelab refreshes quickly"
**Describe the bug**

When I enter the atmosphere pro codelab page, the content for the website begins to refresh itself multiple times.

**To Reproduce**
- Visit https://dev3.atsign.wtf/docs/tutorials/atmosphere-pro/

**Expected behavior**
- Behaviour should be similar to my description

**Screenshots**
https://user-images.githubusercontent.com/34658202/176756403-bec5dfe6-9019-4379-8924-33a7affa6

[2022-07-01 20:29] xavierchanth commented on #49
Backlogged for now in place of #76

[2022-07-11 19:24] xavierchanth commented on #77
Not a bug, the codelab tries to redirect to first page of the content. atmosphere pro codelab doesn't have any content written yet, hence the refresh loop.

[2022-07-11 19:24] #77 closed, assigned to nobody

[2022-07-28 00:30] ksanty commented on #16
@XavierChanth is this still an active ticket or do you have others opened now?  Unsure if this is a placeholder for future work or already underway.  TY!

[2022-07-28 01:06] xavierchanth commented on #16
This is a placeholder for future work

[2022-07-28 02:09] xavierchanth opened #93 "GOAL: iot.atsign.dev"
[This document](https://docs.google.com/document/d/1VR-tMa0tVcXRkilcq5wrpY3gHyn2VkJ5yhNtLRbf3LU/edit#) has been used to encompass most of this work.

- [ ] Homepage
  - [x] Define content
  - [x] Refine content @thenobleone14 @XavierChanth
  - [ ] Designs @rtilney
  - [ ] Implement designs @XavierChanth
- [ ] Industries section - @anthonyvprakash @Jesseadriano10
  - [x] Layout for content @Jessead

[2022-07-29 02:00] jenmonroe commented on #93
@XavierChanth -- @tinashe404 and I discussed this today. I have an updated contract ready, and @rtilney is working on the atVerified badge/bug. I recommend pulling the Commission program out of the larger Dev program (which originally included programming, content, and events) and just launching the atVerified and Commission portions. Should we look for some time to meet, or want to work on this a

[2022-08-18 15:44] JeremyTubongbanua opened #94 "feat: Complete docs content for docs.atsign.com"
# Complete docs content for docs.atsign.com

Content to Fill
- [x] Get Started > Flutter  ( /docs/start/flutter/ ) - @TylerTrott
- [x] Get Started > Java ( /docs/start/java/ ) - @JeremyTubongbanua
- [x] Get Started > IoT ( /docs/start/iot/ ) - @JeremyTubongbanua
- [x] Get Started > Other ( /docs/start/other/ ) - @JeremyTubongbanua
- [x] SDK > Flutter Reference > Overview (codelab) (/docs/sdk/flutt

[2022-08-19 03:22] #50 closed, assigned to xavierchanth, L1AMcB

[2022-08-19 03:22] #49 closed, assigned to rtilney, xavierchanth

[2022-08-19 03:23] xavierchanth commented on #49
legacy due to #94

[2022-08-19 03:23] xavierchanth commented on #50
legacy due to #94

[2022-08-19 03:24] xavierchanth commented on #33
Closing this for the time being as it is not a priority in the foreseeable future.

[2022-08-19 03:24] #33 closed, assigned to xavierchanth, Jesseadriano10, Intiserahmed, JeremyTubongbanua, L1AMcB

[2022-08-19 03:27] xavierchanth commented on #76
legacy due to #94

[2022-08-19 03:27] #76 closed, assigned to rtilney, xavierchanth, anthonyvprakash, jenmonroe

[2022-08-19 03:27] xavierchanth commented on #93
legacy due to #94

[2022-08-19 03:27] #93 closed, assigned to rtilney, xavierchanth, TylerTrott, anthonyvprakash, jenmonroe

[2022-08-19 03:29] xavierchanth commented on #51
legacy due to #94

[2022-08-19 03:29] #51 closed, assigned to xavierchanth

[2022-08-19 03:30] xavierchanth commented on #43
With the changes coming due to #94, we have decided to feature the at_dude codelab for app developers to get started for the time being.

[2022-08-19 03:30] #15 closed, assigned to xavierchanth

[2022-08-19 03:30] xavierchanth commented on #15
legacy due to #94

[2022-08-19 03:32] xavierchanth opened #97 "chore: Rename repo to docs.atsign.com"
Leads: @XavierChanth @cpswan

Related to #94.

Once this site is released to production, we should rename this repo to docs.atsign.com, and create a docs.atsign.com-prod repo for production gh-pages.

[2022-08-19 03:32] xavierchanth commented on #44
legacy due to #94

[2022-08-19 03:32] #44 closed, assigned to xavierchanth

[2022-08-19 03:35] xavierchanth opened #98 "GOAL: docs.atsign.com"
Mandatory items:
- #94
- #43
- #34
- #16
- #13

Publish:
- [x] #97
- [x] make docs.atsign.com-prod public

Post publish:
- [x] [.github#25](https://github.com/atsign-foundation/.github/pull/25)
- [x] stop gh-pages and archive atsign.dev repo
- [x] stop gh-pages and archive atsign.dev-prod repo
- [x] Remove DNS entries for atsign.dev and dev.atsign.wtf

Bonus items:
- #47
- #22
- #12

[2022-08-19 03:42] xavierchanth commented on #68
Not a foreseeable priority

[2022-08-19 03:42] #68 closed, assigned to JeremyTubongbanua

[2022-08-19 03:45] xavierchanth commented on #43
@TylerTrott @JeremyTubongbanua for the time being let's focus on getting the at_dude codelab complete and polished

[2022-08-25 05:06] xavierchanth opened #104 "fix: atPlatform Logo in light mode"
atPlatform logo url doesn't resolve in light mode, update the light mode url so that it resolves correctly.

@JeremyTubongbanua please investigate.

[2022-08-26 01:57] JeremyTubongbanua commented on #104
fixed in #106

[2022-08-26 02:28] JeremyTubongbanua opened #107 "fix: gcp codelabs should use local images"
current gcp codelabs use remote images, should be local images for better quality and to not risk losing the images forever

[2022-08-26 14:04] #104 closed, assigned to JeremyTubongbanua

[2022-08-26 14:19] JeremyTubongbanua opened #109 "fix: dev site mobile support"
# Device
Device: iPhone 11
App: Google Chrome

# Describe the bug
- The side nav is broken when pulling it up (See Figure 1)

Low priority:
- Top nav is squished because image is too big (to be honest, not really a major issue, we could live with this)
- Footer is squished, alignment of the descriptions and terms and conditions are awkward (Figure 2)

Figure 1
![IMG_E1D5B89A7676-1](https://user-im

[2022-08-26 14:22] JeremyTubongbanua opened #110 "fix: side nav bugs"
## Describe the bug
This bug was introduced when we pointed root `/` to go to the child folder of content `/docs/`
- In `single` pages (like the reference definitions), the left-side nav bar disappears
- In `list` pages (like `start/_index.md` = `/start`), the left-side nav bar does something weird where it makes the nav bar mimic the children single pages (e.g. `get started` shows `flutter develo

[2022-08-26 14:48] xavierchanth opened #111 "feat: get started content"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-08-26 14:49] xavierchanth opened #112 "feat: nicer home card designs"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-08-26 14:49] xavierchanth opened #113 "feat: github link in nav"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-08-26 14:50] xavierchanth opened #114 "refactor: "denest" sdk reference codelabs"
- Java @JeremyTubongbanua
- Flutter @XavierChanth

[2022-08-26 14:52] JeremyTubongbanua commented on #111
Also remove clutter wording "Flutter Development" and "Java Development"

[2022-08-26 14:53] JeremyTubongbanua commented on #114
"Java Reference" -> "Java"
"Flutter Reference" -> "Flutter"

[2022-08-27 02:27] JeremyTubongbanua commented on #111
Done in #115

[2022-08-27 10:51] #97 closed, assigned to cpswan, xavierchanth

[2022-08-28 01:08] JeremyTubongbanua opened #118 "refactor: use image shortcodes instead of imgur links"
Images in layouts like Logo and Footer use imgur links, should just use image shortcodes

[2022-08-28 01:19] #111 closed, assigned to JeremyTubongbanua

[2022-08-28 01:20] #94 closed, assigned to TylerTrott, JeremyTubongbanua

[2022-08-28 01:31] #110 closed, assigned to xavierchanth

[2022-08-28 01:31] #113 closed, assigned to xavierchanth

[2022-08-28 02:27] #107 closed, assigned to JeremyTubongbanua

[2022-08-28 03:48] #109 closed, assigned to xavierchanth

[2022-08-28 18:02] #114 closed, assigned to xavierchanth, JeremyTubongbanua

[2022-08-28 18:02] #118 closed, assigned to JeremyTubongbanua

[2022-08-29 14:53] JeremyTubongbanua opened #122 "fix: side nav bar mobile"
Mobile side nav doesn't show Get Started, SDK Reference, Reference,.. dropdowns

See image

![Screen Shot 2022-08-29 at 10 53 14 AM](https://user-images.githubusercontent.com/79019866/187230388-cb18622b-c0c7-42ec-ac4c-4fba6c86c683.png)

[2022-08-29 16:08] JeremyTubongbanua opened #123 "feat: discord logo in footer"
We should add the discord logo + discord link in the footer, just like wavi, github, linkedin, youtube,...

[2022-08-29 17:22] JeremyTubongbanua opened #126 "chore: README.md and atsign-foundation README.md: `atsign.dev` -> `docs.atsign.com`"
# What needs to be done

atsign.dev should be docs.atsign.com in both the:
- README.md of this repository (https://github.com/atsign-foundation/docs.atsign.com/blob/trunk/README.md)
- and the README.md of the foundation page (https://github.com/atsign-foundation/.github/blob/trunk/profile/README.md)

[2022-08-30 07:45] #123 closed, assigned to JeremyTubongbanua

[2022-08-30 14:31] CurtlyCritchlow opened #130 "Chore: Update the onboarding step of the flutter SDK reference code lab"
**Is your feature request related to a problem? Please describe.**

I noticed the onboarding step [here](https://dev3.atsign.wtf/sdk/flutter/onboarding/) is not updated to match the [at_onboarding_flutter 5.0.0 package](https://pub.dev/packages/at_onboarding_flutter).

**Describe the solution you'd like**
I would like the [onboarding step](https://dev3.atsign.wtf/sdk/flutter/onboarding/) to be upd

[2022-08-30 15:21] JeremyTubongbanua opened #131 "chore: `at_java` registration getting started fix windows/linux compile command"
See Step 3 on https://github.com/atsign-foundation/at_java/blob/trunk/getting_started_guide.md

Reflect this in `start/java` ( get started > java )

[2022-09-01 15:21] JeremyTubongbanua opened #132 "docs: min sdk version mention in the docs somewhere"
## Background

Dev eng stand up Sep 1 at 8AM Pacific-

- We discussed adding the `minSdkVersion = 1.5.32` to the build.gradle into the documentation. I believe `at_onboarding_flutter` needs this for it to be used.
- Also discussed potentially adding FVM to the documentation https://fvm.app/

@yahu1031 @CynthiaPeter is this the correct description of what we discussed at stand?

[2022-09-01 15:23] yahu1031 commented on #132
@JeremyTubongbanua Not exactly though. But must be considered doing it. And we are talking about maintaining/developing apps on the same flutter-sdk version. To do it, we can use FVM.

[2022-09-01 16:14] JeremyTubongbanua opened #133 "fix: socials in footer are missing"
The LinkedIn, Wavi, YouTube, GitHub, and Twitter buttons are gone

![Screen Shot 2022-09-01 at 12 14 04 PM](https://user-images.githubusercontent.com/79019866/187962657-718ca0ae-0d46-4a73-b8c6-0b08b618a9d8.png)

[2022-09-01 16:16] JeremyTubongbanua commented on #133
The tags seem to be there

![Screen Shot 2022-09-01 at 12 15 30 PM](https://user-images.githubusercontent.com/79019866/187962973-a03310fd-f67e-4e5d-a196-10b7443f1742.png)

[2022-09-01 17:32] CynthiaPeter commented on #132
Just like what Minnu said, it's more of trying to ensure some level of consistency across applications: https://fvm.app/

[2022-09-05 15:56] JeremyTubongbanua commented on #133
Weird issue @XavierChanth

The footer logos are missing for only my chrome browser that is synced with my work email.

If I am in incognito or on my chrome window that is synced with my personal email, then the footer logos are there...

[2022-09-05 15:56] #133 closed, assigned to nobody

[2022-09-07 21:02] JeremyTubongbanua commented on #43
Is this done @XavierChanth ?

[2022-09-07 21:02] JeremyTubongbanua commented on #12
@TylerTrott is working on this now, I've put Atmosphere Pro contributing guidelines in #124

[2022-09-07 21:04] JeremyTubongbanua opened #135 "feat: new "platform image statements""
# "platform statements" graphics

![image](https://user-images.githubusercontent.com/79019866/194620115-e196ed4f-37c8-417c-8c01-7dbeee2e24c5.png)

We need 3 versions of "platform image statements" like the one above:

- [ ] "An open-source, full-stack platform for creating end-to-end encrypted Java apps"
- [ ] "An open-source, full-stack platform for creating end-to-end encrypted Dart/Flutter apps

[2022-09-07 21:31] xavierchanth commented on #43
Nope, I think we can work to improve this section from here.

[2022-09-08 13:29] JeremyTubongbanua opened #136 "fix: search bar gone"
Search bar used to be there, now it isn't

"doks has a 'FlexSearch' feature"

[2022-09-12 01:55] JeremyTubongbanua opened #137 "Docs nicer discord embed"
## What needs to be done
When sharing the docs site on discord, there is an automatic discord embed that is generated. For example, if someone were to share our github foundation page on discord, they get an embed that looks like this:

![image](https://user-images.githubusercontent.com/79019866/192412104-c219076c-6241-4089-948e-534719ed58bf.png)

Our current auto generated embed looks like this a

[2022-09-14 00:16] xavierchanth commented on #132
I recommend against this, it adds yet another barrier of entry to developing on our platform. Or at most, this should be optional. The usual expectation is that developers are using stable channel.

[2022-09-14 00:46] xavierchanth opened #140 "chore: Update discord links"
Replace `https://discord.gg/55sHTQFxfz` with `discord.atsign.com` once DNS records have been put in place.

[2022-09-14 21:44] xavierchanth opened #142 "chore: Replace atsign.dev with docs.atsign.com"
Found some existing references to `atsign.dev` readme which needs to be replaced with `docs.atsign.com`.

[2022-09-16 17:38] JeremyTubongbanua commented on #142
#126 =(

[2022-09-16 18:16] xavierchanth commented on #140
@JeremyTubongbanua or @TylerTrott do you mind tackling this?

[2022-09-16 18:16] JeremyTubongbanua commented on #140
Done in #145

[2022-09-16 18:17] xavierchanth commented on #126
closed via #143

[2022-09-16 18:17] #126 closed, assigned to TylerTrott

[2022-09-16 18:17] xavierchanth commented on #142
closed as a duplicate of #126

[2022-09-16 18:17] #142 closed, assigned to xavierchanth

[2022-09-16 18:18] JeremyTubongbanua commented on #122
@XavierChanth gentle ping,, i tried fixing this myself during FV but no luck :(

[2022-09-16 18:21] #131 closed, assigned to JeremyTubongbanua

[2022-09-16 18:21] #140 closed, assigned to xavierchanth

[2022-09-16 18:21] #12 closed, assigned to xavierchanth, Intiserahmed, TylerTrott

[2022-09-16 18:23] xavierchanth commented on #122
Oh I see, I will tackle this now

[2022-09-16 21:05] #136 closed, assigned to xavierchanth

[2022-09-16 21:05] #122 closed, assigned to nobody

[2022-09-23 15:01] TylerTrott commented on #112
@XavierChanth May you flesh this card out as this would be a nice Hacktoberfest issue

[2022-09-23 15:05] TylerTrott opened #156 "Left Navbar Caps lock Titles"
## Skills
Some of the skills you could see yourself learning & applying as you go along:

- Git/GitHub
- GoHugo
- HTML, CSS (& Bootstrap)

## What needs to be done

The side nav bar on [docs.atsign.com](docs.atsign.com) has full uppercased words. We believe it would look better if they weren’t. For example “GET STARTED” > “Get Started.”

## Support
In case you need any kind of help (such as gettin

[2022-09-23 15:19] TylerTrott opened #157 "Docs Landing Page Icons"
## Skills
Some of the skills you could see yourself learning & applying as you go along:

- HTML, CSS (& Bootstrap),
- Git/GitHub
- Graphics

## What needs to be done

- Design custom icons for our [landing page](https://docs.atsign.com/)

## Support
In case you need any kind of help (such as getting your environment setup or asking questions about our tech) don’t be afraid to ask in our [discord]

[2022-09-23 15:30] #112 closed, assigned to JeremyTubongbanua

[2022-09-23 17:17] TylerTrott opened #158 "Docs Grammar and Typos"
## Skills
Some of the skills you could see yourself learning & applying as you go along:
- Git/GitHub
- Markdown
- English

## What needs to be done
The docs site is still new so there is bound to be typos and grammatical errors. All english correction pull requests are welcome and greatly appreciated.

## How to do it
If you see a URL with a typo, you can go to the `content/` directory and go int

[2022-09-23 17:21] TylerTrott opened #159 "Docs What is Atsign?"
## Skills
Some of the skills you could see yourself learning & applying as you go along:

- HTML, CSS (& Bootstrap)
- Git/GitHub
- GoHugo
- English

## What needs to be done
On our current landing page is intimidating because we go straight into code without ever explaining what Atsign is.
A button on the landing page with text similar to “What is Atsign?” that takes them to another page explainin

[2022-09-23 20:01] krupalitrivedi commented on #158
Hello! I would like to work on this during Hacktoberfest! It would be amazing to help with the changes.

For starting:
- We can start by fixing the "Getting Started" link in the ReadMe file of the project which is currently broken
- On 'start' page of the website, the link doesn't work for "IOT" and "Flutter"
- Proper spacing in the Atmosphere Pro's - Forking the repository.

I will be trying to f

[2022-09-25 13:50] aswin2108 commented on #156
@TylerTrott I would like to work on this! Can you assign this to me???

[2022-09-26 15:54] aswin2108 commented on #156
@TylerTrott Hope I could work on this as a part of hacktoberfest! Could you assign this to me? Thank you!

[2022-09-27 01:46] JeremyTubongbanua commented on #156
Hey @aswin2108 I've updated the ticket description
Thanks for your interest. Don't forget to ask for help! There are no dumb questions.

[2022-09-27 01:59] JeremyTubongbanua opened #160 "Documentation Testing"
## Skills

Some of the skills you may see yourself applying:
- Java
- Dart/Flutter
- Problem Solving
- English

## What needs to be done

- Review [docs.atsign.com](https://docs.atsign.com) and give feedback on how well the concurrent documentation is explained
- Find bugs, outdated content, typos, and/or grammatical errors
- Give your thoughts! Everything and anything is appreciated.
- Feel free

[2022-09-29 12:32] ruqaiyasattar commented on #158
Hi There! I would like to help you with this...can you guide me on how I contribute?

[2022-09-29 12:37] ruqaiyasattar commented on #158
There is a typo mistake on "https://docs.atsign.com/sdk/"..., can you guide me how I can fix it?

[2022-09-29 12:38] ruqaiyasattar commented on #158
One more thing..your discord has no discord group link too

[2022-09-29 12:58] ruqaiyasattar commented on #160
Hi, there this is some typo bugs

[2022-09-29 13:55] JeremyTubongbanua commented on #160
Hey @ruqaiyasattar, thanks for taking interest!

Where exactly did you find these typos/bugs? Could you please jot down the links? Thank you!

[2022-09-29 13:56] JeremyTubongbanua commented on #158
Wow my fault. This [link](https://discord.atsign.com) should work now. Thank you for pointing that out!

Thank you for your interest- the instructions on how to get your GitHub fork for making contributions can be found [here](https://github.com/atsign-foundation/docs.atsign.com/blob/trunk/CONTRIBUTING.md). In summary, Fork our `docs.atsign.com` repository then get the environment working on your

[2022-09-29 14:04] JeremyTubongbanua opened #161 "Broken link 'getting started' in `README.md`"
## Summary

The 'getting started' link is broken in the [README](https://github.com/atsign-foundation/docs.atsign.com/blob/trunk/README.md)

## What needs to be done

Route the link to [here](https://docs.atsign.com/start/) instead.

## Related issues

#158

[2022-09-29 14:05] JeremyTubongbanua commented on #161
@krupalitrivedi if you could comment in this issue, I can assign it to you =)

[2022-09-29 14:08] JeremyTubongbanua opened #162 "Broken buttons in `/start/`"
## Summary

Found broken buttons for "Flutter", "Java" and "IoT' in `/start/` https://docs.atsign.com/start/. The buttons take you to the wrong links

## What needs to be done

Fix URL code located in `content/docs/sdk/_index.md` (I think that's where it is).

- Flutter button should go to `start/flutter`
- Java button should go to `start/java`
- IoT button should go to `start/iot`

## Related iss

[2022-09-29 14:08] JeremyTubongbanua commented on #162
@krupalitrivedi If you could comment on this issue, I can assign it to you =)

[2022-09-29 14:11] JeremyTubongbanua commented on #158
Hey! Thanks so much for your interest.

I've made the first two you mentioned into issues (which can be found here: #161 and #162). Could you please elaborate on the 3rd bullet point you mentioned?

Also if you could comment on the issues itself, I think I should be able to assign the issue to you. If you need help with anything, please ask over at our [discord](https://discord.atsign.com/) (or ju

[2022-09-29 14:24] krupalitrivedi commented on #161
Hello There! I'd love to work on this :)

[2022-09-29 14:24] krupalitrivedi commented on #162
Hii! I would love to work on this!

[2022-09-29 14:27] krupalitrivedi commented on #158
For the third point: After each attached screenshot in the tutorial, the text starts without any line spaces! Do you want me to elaborate more?

![image](https://user-images.githubusercontent.com/99717469/193058612-9b34ff6f-e0d4-4527-a874-c485f313e0d8.png)

[2022-09-29 14:32] JeremyTubongbanua commented on #158
Perfectly elaborated, @krupalitrivedi .
I'll make the issue. Thanks a lot :)

[2022-09-29 14:34] JeremyTubongbanua opened #163 "Atmosphere Pro contribute line breaks before images"
## Summary

![image](https://user-images.githubusercontent.com/79019866/193060100-c95520fc-2d1c-4305-99dd-782403f12c1d.png).

Images should get a line break after.

## How to do it

You can use our `{{< br >}}` shortcode. Simply add that line to the `.md` file you are editing, and tada! A line break! (Shortcodes are like React components or Flutter widgets, just reusable pieces of UI. You can find

[2022-09-29 14:35] JeremyTubongbanua commented on #163
@krupalitrivedi Please comment if you'd like to work on this :) Then I can assign it to you

[2022-09-29 14:44] krupalitrivedi commented on #163
I'd like to work on this!

Shall I make One PR for all three changes I am going to make? because they are not major changes, yet there are few changes!

[2022-09-29 14:48] JeremyTubongbanua opened #164 "Sep 28 Fixes"
## Tasks Discussed on Sep28 meeting

Feel free to add tasks of your own (in case I missed any)

- [ ] Flutter toc false @JeremyTubongbanua
- [ ] Get started root _index toc false @JeremyTubongbanua
- [ ] Noble to review [IoT content](https://docs.atsign.com/start/iot/) @thenobleone14
- [ ] Root server last image to go to Secondary server page @XavierChanth
- [ ] Overview in Java codelab @JeremyTub

[2022-09-29 14:49] JeremyTubongbanua commented on #163
Completely your choice. :)

[2022-09-29 15:29] JeremyTubongbanua opened #165 "AtClientPreference parameters state mandatory/optional"
## What needs to be done

The attributes on https://docs.atsign.com/sdk/flutter/at_client_preference/ should state mandatory/optional,, feedback taken from @ralfeus on discord.

[2022-09-30 06:14] vardhan0604 commented on #156
@TylerTrott I would like to work on this for hacktoberfest! Can you assign this to me???

[2022-09-30 07:10] aswin2108 commented on #156
hey, @vardhan0604 I am already working on it, so I hope you would find another one!

[2022-09-30 07:46] DonnC commented on #160
@JeremyTubongbanua hie
I just realized that the links on [Get Started](https://docs.atsign.com/start/) Page are not directing to the respective pages
For Flutter and IoT they redirect to the same start page instead of https://docs.atsign.com/start/flutter/ for flutter and https://docs.atsign.com/start/iot/ for IoT

And the Java link is directing to sdk page too

The reference page
![image](https:/

[2022-09-30 08:32] vardhan0604 commented on #156
@aswin2108 sure no problem dude!!

[2022-09-30 12:32] PriyanshuRj commented on #160
Hey, I Found some Issues
1) Redirecting issues on the home page of the documentation, The get started link for Flutter and IoT is Redirecting to the same page while the one for Java is redirecting to the SDK reference page while they should redirect to the respective get started pages -
https://docs.atsign.com/start/flutter/ (for flutter),
https://docs.atsign.com/start/iot/ (for IoT),
https://docs

[2022-09-30 14:25] daniloff200 commented on #137
I can pick this.
I think it's related to OG images, desciriptions, etc. in a header

[2022-09-30 17:06] daniloff200 commented on #137
We can add the same picture, as for github
About the title, description, perhaps, somebody has any ideas?

cc @JeremyTubongbanua

[2022-09-30 17:36] JeremyTubongbanua commented on #137
@daniloff200 Thanks for taking interest! Just go ahead and add what text you see fit, we can always change it later..
I've assigned you to this issue =)

[2022-09-30 17:47] JeremyTubongbanua commented on #160
Hey @DonnC, thanks for taking interest :).

Somebody is already working on that case in #162. However, we will add you to the queue in case we decide not to take the PR or if the assignee withdraws. Thanks!

[2022-09-30 17:48] JeremyTubongbanua commented on #160
Hey @PriyanshuRj thanks for taking interest

We've got somebody working on (1) already in #162 .

However, we'd love for you to make a PR on everything below (2). =) I'll add you as an assignee to this ticket.

[2022-09-30 17:50] JeremyTubongbanua commented on #156
Thanks @vardhan0604 :)

I've added you as an assignee to this ticket @aswin2108

[2022-09-30 17:59] tejasjaiswal07 commented on #158
hey, @TylerTrott can I please work on this issue?
assign me!
I will try to find the typos for as many pages as possible and update them in issue if you want before hacktoberfest! Appreciate it if you could assign the issue to me :)
Thank you!

[2022-10-01 04:01] PriyanshuRj commented on #160
Hey @JeremyTubongbanua I did the required the changes and created a pull request https://github.com/atsign-foundation/docs.atsign.com/pull/167 can you please review it.

[2022-10-01 04:47] PriyanshuRj commented on #130
Hey, @TylerTrott I would like to contribute to this issue please assign this to me.

[2022-10-01 05:44] PriyanshuRj commented on #157
I want to contribute to this issue, Any suggestions on what kind of logos do we require and which logos to replace?

[2022-10-01 07:31] kazimsayed954 commented on #160
@self assign

[2022-10-01 08:27] Darsh-k-Shah commented on #158
Hey @JeremyTubongbanua, I would like to help out with this throughout hacktoberfest.
For starters, I found an issue with the Flutter and IoT link on this page. Page - https://docs.atsign.com/start/
![image](https://user-images.githubusercontent.com/43760615/193400314-59cacf4b-b053-4085-8685-f114024462af.png)
On clicking the above links it seems to be redirecting to the same page. Are you also seei

[2022-10-01 15:55] Ruchika30 commented on #159
Hey @TylerTrott . I can take this up. Can you please assign this to me ?

[2022-10-01 15:57] Ruchika30 commented on #43
What is the expectation in the redesign of the section . Can you please elaborate a bit . I would like to take it up  @TylerTrott  @XavierChanth

[2022-10-01 18:28] krupalitrivedi commented on #162
Actually found this broken code in  `content/docs/start/_index.md`
![image](https://user-images.githubusercontent.com/99717469/193423195-733dad6d-3bbb-408f-a58d-5351ee652ce2.png)

I think the links are correct but there's some mistake in the code

[2022-10-01 18:35] krupalitrivedi commented on #161
Shall I also link the repository license at the end? It gives more flexibility to the visitors of the repository.

[2022-10-01 19:13] utkershrajvenshi commented on #159
I'd like to have a go at it too. May I work on this one?

[2022-10-01 19:13] tamalCodes opened #171 "Updates : Issue Templates 🛠"
## What i am suggesting to update ?

I am suggesting to update the Issue templates , currently we are using `.md` files instead of the brand new issue forms with `.yml` files.

## Why to update it ?

Adding an issue Template allows you to organize the issues made by folks in a much better way.
 - We can know if someone wants to write a test or maybe fix something in the website
 - The issue templa

[2022-10-01 20:55] JeremyTubongbanua commented on #162
@krupalitrivedi You may find the code somewhere in `layouts/`

[2022-10-01 20:57] JeremyTubongbanua commented on #161
No thank you @krupalitrivedi

We usually let somebody else handle the licenses.. Thank you though!

[2022-10-01 21:32] daniloff200 opened #172 "Broken link in a flutter introduction docs"
**Describe the bug**
A link to Get Started Flutter Development page is broken

**To Reproduce**
Steps to reproduce the behavior:
Go to https://docs.atsign.com/sdk/flutter/introduction/
Try to open Get Started Flutter Development link

**Expected behavior**
I should see the get started page

[2022-10-01 21:33] daniloff200 commented on #172
Can it be marked as a hacktobefest one?

[2022-10-02 05:35] roannav commented on #157
The link to the landing page above is broken.   It should be https://docs.atsign.com/

[2022-10-02 06:07] PriyanshuRj commented on #22
Hey @XavierChanth @TylerTrott, I would like to contribute to this issue please assign this to me.

[2022-10-02 06:18] PriyanshuRj commented on #22
Hey @TylerTrott, I would like to contribute to this issue,

**Describe the solution you'd like**

I will create a button on the top right corner of the Documentations with the link https://github.com/atsign-foundation/docs.atsign.com/issues/new/choose
This will take the user to the create new issue page where he would be asked what kind of issue they want to create Bug/Feature/Security vulnerabili

[2022-10-03 12:52] #158 closed, assigned to nobody

[2022-10-03 13:33] aswin2108 commented on #156
@TylerTrott @JeremyTubongbanua I have made a PR can you check whether it's correct or not?

[2022-10-03 14:28] lukes-codee commented on #156
Can I take a look at this too? I have the fix working locally.

[2022-10-03 14:44] TylerTrott commented on #159
Feel free to just work on the issues and raise PR's accordingly :) Looking forward to seeing your contributions!

[2022-10-03 14:44] igniti0n commented on #172
I want to take this issue, can you assign it to me?

[2022-10-03 14:46] TylerTrott commented on #157
If you navigate to our landing page, you will see that 'Learn the SDK' and 'Learn the Platform' have the same icons. We're also utilizing Font Awesome icons so it would be cool to have our own custom ones :)

[2022-10-03 14:46] TylerTrott commented on #157
Thank you! Fixed

[2022-10-03 14:47] TylerTrott commented on #137
@JeremyTubongbanua

[2022-10-03 15:06] xavierchanth commented on #43
As this is design work, it hasn't been well defined thus far. The goal for this card would start with a design proposal for how we might improve the developer journey of the getting started section. The work is open ended (hence why it is labelled as advanced), so if you have ideas feel free to contribute them.

[2022-10-03 18:28] PriyanshuRj commented on #22
What all GitHub information should I add @XavierChanth

[2022-10-03 20:33] Shubhambawner commented on #130
Hey @PriyanshuRj  as you had been working on other issues as well, may I take over this one ?

[2022-10-03 23:12] JeremyTubongbanua commented on #156
Looks like the work in #176 is approved @lukes-codee
This issue should be done and closed soon. Sorry! Thank you for your interest though

[2022-10-03 23:58] #156 closed, assigned to aswin2108

[2022-10-04 00:07] xavierchanth commented on #22
Maybe something like:
- `Last updated on <date>`
- `By <author> in <short commit id>` (commit id can link to the commit in GitHub)

[2022-10-04 03:39] Shubhambawner opened #179 "to introduce some styling changes to make the desktop view more clean and accurate w.r.t. UI/UX perspective"
**Is your feature request related to a problem? Please describe.**
for Desktop view, left navigation pane and document text together give it a little messy feel
I want to introduce some styling changes to make the desktop view more clean and sophisticated.
For elaboration, here is what currently looks like:
![image](https://user-images.githubusercontent.com/73178780/193727868-7fce2063-2a94-4271-a9

[2022-10-04 03:41] Shubhambawner commented on #179
I would be grateful if this Issue gets assigned to me along with the hacktoberfest label!

[2022-10-04 03:55] Shubhambawner opened #180 "Change strikethrough styling of visited topics from left nav pane."
**Is your feature request related to a problem? Please describe.**
Strikethrough styling of visited topics from left nav pane is little annoying for visitors, The main problem is that Rader/visitor cant just go through  list already covered topics to revise through or in case he is searching something specific.

**Describe the solution you'd like**
to mark a topic visited, we can instead style the

[2022-10-04 03:55] Shubhambawner commented on #180
I would be grateful if this Issue gets assigned to me along with the hacktoberfest label!

[2022-10-04 17:11] JeremyTubongbanua opened #181 "Protocol Spec missing Delete Verb"
## What needs to be done

Protocol specification missing the delete verb

This is what you mentioned in stand, right @gkc ?

[2022-10-04 17:14] gkc commented on #181
Yep - missing from this page https://docs.atsign.com/atplatform/specification/

We should take this opportunity to update the spec and incorporate all of the additions and enhancements that have been made to verbs and syntax

[2022-10-04 17:59] JeremyTubongbanua commented on #180
What you you think about checkboxes @XavierChanth ?

[2022-10-04 21:09] JeremyTubongbanua opened #183 "Maven dependency Java docs"
## What needs to be done

- Maven dependency in Java works now
- We should add it to `docs.atsign.com` now.
[code]

[2022-10-05 09:43] ShivamKumar2002 commented on #172
is it fixed? if not can you assign to me?

[2022-10-05 15:05] srini047 opened #184 "Unlinked Text on the Flutter Onboarding page"
**Describe the bug**
There is no email id linked to `email us at` on the [flutter onboarding](https://docs.atsign.com/sdk/flutter/onboarding/) page.

**To Reproduce**
Steps to reproduce the behavior:
- Add the correct hyperlink of the `mailto:`
- Make the changes in https://github.com/atsign-foundation/docs.atsign.com/blob/trunk/content/docs/sdk/flutter/onboarding.md

**Expected behavior**
Should

[2022-10-05 16:19] xavierchanth commented on #132
See https://github.com/atsign-foundation/apps/issues/720 for latest notes on versioning for Android builds.

[2022-10-05 18:57] xavierchanth commented on #180
I don't see a need for this since:

1. Adding checkboxes increases the number of clicks required by the user, when at present this is already done for you.
2. The site is statically served, I would like to avoid adding unnecessary complexity.

[2022-10-05 19:06] xavierchanth commented on #34
This was done some time ago

[2022-10-05 19:06] #34 closed, assigned to xavierchanth, jenmonroe

[2022-10-05 19:08] xavierchanth commented on #98
The important stuff on this goal card is done :)

[2022-10-05 19:08] #98 closed, assigned to xavierchanth, TylerTrott, anthonyvprakash, JeremyTubongbanua

[2022-10-05 19:09] #172 closed, assigned to daniloff200, igniti0n

[2022-10-05 19:11] xavierchanth commented on #135
@hakeemawbrey @Dariamarg can this be a Hacktoberfest issue?

[2022-10-05 19:12] #132 closed, assigned to CynthiaPeter, yahu1031, ksanty, JeremyTubongbanua

[2022-10-05 19:14] xavierchanth commented on #161
Complete in #177

[2022-10-05 19:14] #161 closed, assigned to krupalitrivedi

[2022-10-05 19:20] xavierchanth commented on #171
Hi @IAmTamal, please reopen your issue on https://github.com/atsign-foundation/.github.

[2022-10-05 19:20] #171 closed, assigned to nobody

[2022-10-05 19:25] xavierchanth commented on #184
@tinashe404 @athandle is this something we should do?

[2022-10-05 19:59] xavierchanth opened #186 "Better SEO Descriptions on all pages."
**Is your feature request related to a problem? Please describe.**
When embedding or discovering pages on google search, the descriptions are not very descriptive.

**Describe the solution you'd like**
Update the descriptions for all pages, potentially making a standard format for SEO descriptions.

**Describe alternatives you've considered**
N/A

**Additional context**
See #169 for more informati

[2022-10-05 20:10] Shubhambawner commented on #180
So instead we can add something like visited anchor tag styling?
(Visited links show up purple, others show up blue, something similler i wish to say)

[2022-10-05 20:11] Shubhambawner commented on #186
Hello, can I work upon this?

[2022-10-05 20:20] utkershrajvenshi commented on #186
Hi @XavierChanth , I'd love to have a go at this. Could I be assigned this issue?

[2022-10-05 20:25] xavierchanth commented on #186
Sure @Shubhambawner @utkershrajvenshi , multiple PRs can be contributed since this is a lot of work. Please use this issue to collaborate. I suggest explicitly stating each page you are working on to avoid duplicate work.

[2022-10-05 22:29] JeremyTubongbanua commented on #184
Great catch! @srini047 :)

@athandle @tinashe404 is there an email to add? @srini047 would love to contribute

[2022-10-05 22:43] JeremyTubongbanua opened #187 "Refactor Contribute Site"
# What needs to be done

![image](https://user-images.githubusercontent.com/79019866/194177125-a0515d31-374f-4fe2-bf8a-77e8cd63ab06.png)

- Refactor so it is all in one codelab that is sibling to "Atmosphere Pro"
- Add a "Setting up your Fork" section within that codelab so people can learn how to contribute to the docs site on their own machines
- "Contribute to this site" remove uppercasing

[2022-10-05 23:22] tinashe404 commented on #184
Great catch, please use support@atsign.com

[2022-10-06 03:34] uday03meh opened #188 "Change cards design"
**Is your feature request related to a problem? Please describe.**
Hovering on the cards in left and right column of the home page shows 2 different effects, I want to make changes and remove this discrepancy in design

**Describe the solution you'd like**
I'm planning to either give some gap between both columns or change their border properties to make it look better on hovering. I know this is

[2022-10-06 03:35] uday03meh commented on #188
/assign

[2022-10-06 04:52] srini047 commented on #184
Sure 😊

[2022-10-06 06:49] Kunalpal215 commented on #162
Can you assign it to me ?

[2022-10-06 07:59] kaggrwal commented on #165
@JeremyTubongbanua @XavierChanth  kindly assign this to me, i would like to work on this.

[2022-10-06 08:05] kaggrwal commented on #135
@JeremyTubongbanua @XavierChanth I would like to work on this, kindly assign this to me.

[2022-10-06 08:21] depimomo commented on #160
Hi! When I'm browsing through the codelabs, I found that the `steps` sidebar and the content is too close, sometimes it's make it hard to read. Find some example below:
<img width="1440" alt="Screen Shot 2022-10-06 at 15 15 31" src="https://user-images.githubusercontent.com/12368942/194260009-e3ed5896-e816-42c5-8ef2-49fa040f3555.png">
<img width="1439" alt="Screen Shot 2022-10-06 at 15 15 55" src=

[2022-10-06 08:30] depimomo commented on #157
Hello! I notice that the new icons already created, but the icons haven't been used in the website. Do you need any help on that @TylerTrott ? I'd be glad to give it a shot!

[2022-10-06 16:36] JeremyTubongbanua commented on #160
That's a great suggestion @depimomo.

Take a look through `layouts/` for the layout that is being used for this page. (Should be a codelab single?) I'll assign you to this ticket as well. :)

[2022-10-06 19:04] kaggrwal commented on #165
@JeremyTubongbanua Can you please help me with a list about the preferences that are mandatory and optional, so that i can marked them accordingly in documentation.

[2022-10-07 05:02] depimomo commented on #160
okay, will take a look at it!

[2022-10-07 15:21] kaggrwal commented on #135
@XavierChanth Do i have to design the images and provide them to @JeremyTubongbanua ?

[2022-10-07 15:37] #137 closed, assigned to daniloff200

[2022-10-07 15:42] xavierchanth commented on #135
Hi @kaggrwal, the lead for this issue is currently away. I will do my best to find this info. I will get it to you next week if I cannot get it today.

[2022-10-07 17:57] JeremyTubongbanua commented on #135
Hey @kaggrwal Sorry that there was no context for this ticket.. it was assigned to people who knew what the task was.

Basically, we need images like this one, but updated with new messages and just an overall redesign.

![image](https://user-images.githubusercontent.com/79019866/194620115-e196ed4f-37c8-417c-8c01-7dbeee2e24c5.png)

We need 3 versions:

- [ ] "An open-source, full-stack platform fo

[2022-10-07 19:26] AyushK-101 commented on #186
I would like to work on thia

[2022-10-07 19:26] AyushK-101 commented on #186
I would like to work on this

[2022-10-08 07:52] AyushK-101 commented on #162
I have made a PR( #190 ) regarding this issue @JeremyTubongbanua , please review it

[2022-10-08 12:05] saket-57 commented on #163
I have already began a pull request regarding this issue. PR #191
https://github.com/atsign-foundation/docs.atsign.com/pull/191#issue-1401924345

[2022-10-08 12:33] Shubhambawner commented on #186
It would be great if you could asign the pages, as it would be little time taking to do this by discussion

[2022-10-08 12:56] JeremyTubongbanua commented on #165
@kaggrwal Try referring to here https://github.com/atsign-foundation/at_client_sdk/tree/trunk/at_client/lib/src/preference
@tinashe404 Who can we ask about which parameters in the AtClientPreference are required/optional ?

[2022-10-08 18:59] PriyanshuRj commented on #160
Hi, when using the search functionality the searches are often crossing the designated area due to a single word having size more than the provided space we can introduce word wrap here.
Here is the screenshot of the same issue
![image](https://user-images.githubusercontent.com/76838551/194723284-8b33e2a4-5cdb-4079-971c-9deedd75100a.png)
Notice getting secondary address crossing that light gray bo

[2022-10-09 17:10] kaggrwal commented on #165
@JeremyTubongbanua Can i assume, all those parameters whose default value is not given [ https://github.com/atsign-foundation/at_client_sdk/tree/trunk/at_client/lib/src/preference]( https://github.com/atsign-foundation/at_client_sdk/tree/trunk/at_client/lib/src/preference) are mandatory ?
eg. hiveStoragePath

[2022-10-09 19:04] akashgreninja commented on #186
i would like to work on this as well

[2022-10-10 07:27] PriyanshuRj commented on #186
Hey @XavierChanth i would like to work on this issue

[2022-10-10 14:38] JeremyTubongbanua commented on #165
That would be good enough for now @kaggrwal, thank you! :)

Could you also list what the default value is on our documentation too?

[2022-10-10 14:42] JeremyTubongbanua commented on #160
Hey @PriyanshuRj thanks for finding this. Could you please create a separate GitHub issue describing this problem? I will assign it to you and assign it the hacktoberfest tag. Good find!

[2022-10-10 16:28] #130 closed, assigned to Shubhambawner, PriyanshuRj

[2022-10-10 16:45] #162 closed, assigned to AyushK-101, krupalitrivedi

[2022-10-10 16:55] #163 closed, assigned to saket-57, krupalitrivedi

[2022-10-10 16:58] #22 closed, assigned to xavierchanth, PriyanshuRj

[2022-10-10 17:00] JeremyTubongbanua commented on #186
@akashgreninja @PriyanshuRj @Shubhambawner @AyushK-101 @utkershrajvenshi

Every `.md` file should have a `description:`. Please go through each file and make sure the SEO descriptions are high quality sentences. SEO descriptions are descriptions that show up when people search us up on their search engines. You might come across some descriptions that are perfectly okay to leave alone and that is

[2022-10-10 17:34] ZeroDayOwl commented on #187
@JeremyTubongbanua hey! Are you thinking of something like this -

## Contribute to the atPlatfrom
### Atmosphere Pro
### Contribute to this site

Or do you want to place the `Setting up your Fork` section within the Atmosphere Pro codelab?

[2022-10-10 17:38] kaggrwal commented on #165
Sure @JeremyTubongbanua , i will add the default values too.

[2022-10-11 14:51] JeremyTubongbanua opened #198 "Protocol Spec update Notification Verb"
## What needs to be done

Update the [Protocol Specification](https://docs.atsign.com/atplatform/specification/) with new notification examples + their responses, and a new regex.

1. Notification regex to be updated with `messageType:` parameter.

New regex to be added:
[code]

2. Add examples of `notify:messageType:text:` and their responses
3. Add the `notify:status:` verb with examples and the

[2022-10-11 14:52] #184 closed, assigned to srini047

[2022-10-11 14:54] JeremyTubongbanua commented on #165
I believe `hiveStoragePath`, `commitLogPath` are mandatory  and `isLocalStorageRequired` should always be true so that the local secondary is always used.

( I might be wrong though, I might recall seeing that in some comment in some code I was reading )

[2022-10-11 15:32] xavierchanth commented on #165
Not always, but in most use-cases it is the recommended approach. (Pretty much any application that requires human interaction will recommend this to be true).

LocalStorage is not required in the context of, for example, an IoT sensor that doesn't really care about data loss. For example, a thermometer that displays the current temperature, on the other hand, if you want to keep a history of temp

[2022-10-11 15:34] PriyanshuRj opened #199 "Search UI broken"
**Describe the bug**
In the search functionality, the searches are often crossing the designated area due to a single word having size more than the provided space we can introduce word wrap here.

**To Reproduce**
Steps to reproduce the behavior:
1. First I Clicked on the Search bar
2. Then I typed get
3. And then saw that the search suggestion UI is not proper

**Expected behavior**
The left ali

[2022-10-11 15:34] PriyanshuRj commented on #160
Done #199

[2022-10-11 19:05] gkc commented on #165
Right now, I don't believe things will work **at all** unless isLocalStorageRequired is true. We have some serious tech debt here - the original intention may have been to support both, but then the platform evolved and it was clear that for most client use cases, local storage is absolutely required - not least to support offline behaviour - but there is A LOT of code cleanup required to make it

[2022-10-12 17:01] itsOmSarraf commented on #199
Can you assign this to me, I can work on this, also can you let me know which folder has the codes for this ?

[2022-10-12 17:12] JeremyTubongbanua commented on #187
Hey @ZeroDayOwl for this task, we were thinking of removing the nested dropdown.

So something like this:

[code]

It's a lot of refactoring and a lot more content re-writing, so that's why this wasn't made into a hacktoberfest ticket (since there's a lot of context that is not easy for others to pick up on).

But if you'd still like to tackle on this task, you are more than welcome! We appreciate

[2022-10-12 17:20] itsOmSarraf commented on #199
fixed it, can you let me know the folder which contains CSS, I was able to correct it using inspect element, but unable to find the codes :(

[2022-10-13 14:54] TylerTrott commented on #188
Hi there, sorry for the long wait, feel free to tackle this issue. It may not be insanely easy @uday03meh

[2022-10-13 14:57] TylerTrott commented on #180
@Shubhambawner Feel free to work on this. I'm interested to see what you will do with this. I can see that the strikethrough can be a bit aggressive. If you could figure out a way to show that a portion of the code lab has been completed without adding unnecessary complexity and an increase of clicks by a user, that would be really cool!

[2022-10-13 15:57] uday03meh commented on #188
Sure, will give my best.

[2022-10-13 18:25] #159 closed, assigned to Ruchika30, utkershrajvenshi

[2022-10-14 18:37] osaxma opened #201 "Broken hyperlinks in the Getting Started page"
**Describe the bug**

- Broken hyperlinks in the following page: https://docs.atsign.com/start/

<p align="center"><img width="600" alt="Screen Shot 2022-10-14 at 9 27 24 PM" src="https://user-images.githubusercontent.com/46427323/195916275-164c8375-8ec5-46df-b14a-66db9c077de6.png"></p>

There are two issues above:
- The hyperlinks within the red-box does not do anything.
- The hyperlink within th

[2022-10-14 23:42] uday03meh commented on #188
Hi, I've figured out that this issue can be solved by giving some gap between 2 cards using margin property as they look perfectly fine on smaller screen sizes. Can you please guide me to the file I need to make changes as I could not find it in the project.

![image](https://user-images.githubusercontent.com/59679281/195957819-a4cfaf3f-e0c6-4551-981e-db0206f5f2af.png)

Having a gap between cards

[2022-10-15 08:42] Ruchika30 commented on #188
Check these files  @uday03meh

content/docs/_index.md
layouts/shortcodes/card/feature-icon.html

[2022-10-15 12:38] Ruchika30 commented on #198
are u looking into this @JeremyTubongbanua?  or I can check it out

[2022-10-15 13:29] JeremyTubongbanua commented on #198
Sure @Ruchika30 I updated the ticket

This one is using the atProtocol, so it's going to be a bit tricky.

[2022-10-15 13:43] #165 closed, assigned to kaggrwal, JeremyTubongbanua

[2022-10-15 18:01] PriyanshuRj commented on #199
@TylerTrott please have a look

[2022-10-15 18:28] itsOmSarraf commented on #199
Yes please, its a simple tweak in CSS, but I am unable to locate the CSS file :(

[2022-10-15 23:02] kumar-kalyan commented on #201
Can I work on this issue

[2022-10-15 23:05] kumar-kalyan commented on #187
I would like to work on it

[2022-10-16 04:53] ZeroDayOwl commented on #187
Hey @JeremyTubongbanua I got it, thanks!

I'll look into the task and try to fix it in the meantime :)

[2022-10-18 04:53] drecali commented on #13
@XavierChanth
What is the status of the `at_dude` codelab? I noticed several issues that I wanted to fix, but then I realized there are more than I thought and things are more complicated than I thought.

The main issues are:
- Several pages of the `at_dude` codelab are blank but used to have content as seen in [this commit](https://github.com/atsign-foundation/docs.atsign.com/commit/94787cb499e1f

[2022-10-18 16:00] xavierchanth commented on #13
Hi @drecali, @CurtlyCritchlow is better equipped to answer questions about this issue.

[2022-10-18 19:27] developer-diganta opened #205 "Improve lighthouse accessibility score"
Currently, the lighthouse accessibility score is 89. It could be increased to 100.
![image](https://user-images.githubusercontent.com/65999534/196525525-5a9d4bda-9c8d-4771-80a9-054249464382.png)
If this seems a relevant issue can I work on it?

[2022-10-20 08:51] PriyanshuRj commented on #188
please assign this issue to me @Ruchika30

[2022-10-20 13:46] drecali commented on #13
Thanks @XavierChanth!
@CurtlyCritchlow I'd love to get started on some of these fixes or look for others, so please please let me know when you have some time to clear things up a bit.

[2022-10-20 15:18] #157 closed, assigned to nobody

[2022-10-20 16:51] CurtlyCritchlow commented on #13
@drecali , I decide to rewrite the tutorial so the reader can code along and build the dude app. All the .md files starting with "_" are the old tutorials. I haven't deleted them because I might still need is as reference material for the rewrite. I'll add them to gitignore before the week is out.

If you check the [doc site](https://docs.atsign.com/tutorials/at-dude/3-app_architecture/) you will

[2022-10-21 04:21] AyushK-101 commented on #186
@JeremyTubongbanua I made a PR regarding the issue, please review and suggest changes, if any

[2022-10-22 12:44] nlather commented on #199
Hi @TylerTrott , I've made a Pull Request for this issue, could you please look at it. Thanks

[2022-10-24 02:41] drecali commented on #13
Thanks @CurtlyCritchlow! Unfortunately, I'm in the middle of a very busy period right now so I may not have time to finish the series. I appreciate the offer though :)

[2022-10-24 15:01] mathagician commented on #187
If there seems to be no progress on this, @JeremyTubongbanua  Could you please let me try and assign this to me?

[2022-10-24 15:01] mathagician commented on #180
@TylerTrott  there is no update yet. Could let me try as well, please assign this to me.

[2022-10-24 15:46] #199 closed, assigned to nobody

[2022-10-24 16:04] #135 closed, assigned to kaggrwal, JeremyTubongbanua, hakeemawbrey, Dariamarg

[2022-10-24 22:05] Shubhambawner commented on #180
There is some delay as I was engaged with some other issues herein. But however the work is in progress

[2022-10-25 03:18] JeremyTubongbanua commented on #187
Hey @kumar-kalyan @ZeroDayOwl @mathagician ! Thanks for your interest. Feel free to tackle this issue. (Sorry that I did not see this comment before, I don't know how I missed it).

Please try your best to create draft PRs with the `closes: #187` in the PR description so that it will be linked to this issue.

[2022-10-25 15:42] Shubhambawner commented on #188
Hello @Ruchika30 @uday03meh @TylerTrott
I have been working on some other issue, but currently after switching a device I had been facing issues with project setup
windows 10 , node 16.17.0
after npm start, i am getting such errors, please look into it once
![image](https://user-images.githubusercontent.com/73178780/197820669-089e11b0-533b-48a0-a675-844fdc42abf4.png)

[2022-10-29 19:38] arthisiva451 opened #212 "Fix the spacing issue"
**Describe the bug**
The text on the UI is looking a bit congested on the left navigator options. And seems to be clashing. I felt that the sentence can be displayed in 2 lines.

**To Reproduce**
Steps to reproduce the behavior:
1. First I clicked on get started
2. Then I clicked on Tutorials->DESS
3. And then Clicked on [Setup dess on a Raspberry Pi](https://docs.atsign.com/tutorials/dess/rpi/1-i

[2022-10-29 19:56] arthisiva451 opened #213 "Open external pages in new tab"
**Is your feature request related to a problem? Please describe.**
 I'm always frustrated when external links are opened on same tab in browser.

**Describe the solution you'd like**
I would like to open external links like github, official site link in new tab.
**Describe alternatives you've considered**

**Additional context**
Add any other context or screenshots about the feature request here.

[2022-10-29 20:00] arthisiva451 opened #214 "The link on the page is not a hyperlink"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. First I Was on https://docs.atsign.com/tutorials/dess/gcp/4-prep-network-access/ page
2. Then I tried to open the hyperlink at the middle of the page.
3. But it was in text format. So I couldnt open it
Link: https://cloud.google.com/dns/docs/tutorials/create-domain-tutoria

[2022-10-31 12:10] utkershrajvenshi commented on #186
@JeremyTubongbanua @XavierChanth , have raised a PR with updated descriptions for files in assigned directories. Please review...

[2022-11-01 04:08] #186 closed, assigned to xavierchanth, Shubhambawner, PriyanshuRj, utkershrajvenshi, akashgreninja, AyushK-101

[2022-11-08 17:28] JeremyTubongbanua opened #220 "Missing Social buttons in footer"
#182 changed footer

![image](https://user-images.githubusercontent.com/79019866/200634299-f932042a-ddcc-4914-857e-a33fc17e56d7.png)

[2022-11-08 17:30] JeremyTubongbanua opened #221 "Reference "Atsign""
Make the "what is Atsign?" button take viewer to an "Atsign" page in the Reference section

[2022-11-11 17:18] JeremyTubongbanua opened #222 ""What is Atsign?" button should take you to a new tab"
Requset by @CynthiaPeter

"What is Atsign?" button should take you to a different tab (so the viewer stays on the dev site)

Use `a` shortcode

[2022-11-15 16:55] JeremyTubongbanua opened #223 "Java JAR dependency instructions"
**Is your feature request related to a problem? Please describe.**
Java docs could have updated instructions on getting the at_client jar

**Describe the solution you'd like**
Add this link and instructions on adding [this JAR](https://github.com/atsign-foundation/at_java/releases/tag/v1.0.0-beta) as a dependency to the following:
- Android Studio Java app projects
- IntelliJ java projects
- Visua

[2022-11-16 17:10] #180 closed, assigned to Shubhambawner